.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url("path/to/your/image.jpg"); 
    background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  padding: 20px;
}

/* Common styles for the form */
.form-container form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.form-container form input[type="email"],
.form-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.form-container form .form-check {
  margin-bottom: 16px;
}

.form-container form .btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end; /* Right-align the button within the flex container */
}

.form-container form .btn-primary:hover {
  background-color: #0056b3;
}

/* question answer style */

.question-answer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.question-answer-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.question-answer-container .form-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
}

.question-answer-container .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.forgot-password-button {
  background-color: transparent; /* Transparent background for the button */
  color: #007bff; /* Blue color for the button text */
  border: none; /* Remove the button border */
  padding: 5px; /* Add smaller padding to the button */
  cursor: pointer; /* Add a cursor pointer on hover */
  text-decoration: underline; /* Add an underline to make it look like a link */
  margin-top: 10px; /* Add margin-top to create a line gap between the buttons */
}

.forgot-password-button:hover {
  color: #0056b3; /* Darker blue color on hover */
}
